<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Trollomètre</title>
		<link rel="stylesheet" href="{{ static_url("style.css") }}" />
		<link rel="icon" type="image/x-icon" href="{{ static_url("favicon.png") }}" />
		<meta name="author" content="Bruno Michel" />
		<meta name="description" content="Partez à la chasse aux trolls avec un trollomètre de compétition" />
		<meta name="keywords" content="troll, trolls, trollomètre, chasse, godwin, compétition, vendredi" />
	</head>
	<body>
		<div id="main">
			<img src="{{ static_url("logo.png") }}" alt="logo" class="logo" />
			<h1>Trollomètre</h1>
			<h2>Partez à la chasse aux trolls</h2>
			<form action="/measure" method="get">
				<label for="url">Veuillez entrer l'URL de la page web que vous souhaitez mesurer avec le trollomètre :</label>
				<input type="url" id="url" name="url" placeholder="http://" required="required" />
				<button type="submit">Go</button>
			</form>
			<p>Le score s'affiche dans le titre de la page (dans la barre d'onglets et/ou dans le titre de la fenêtre).</p>
			<a href="http://bearstech.com"><img src="{{ static_url("bearstech.png") }}" alt="Bearstech" title="Bearstech héberge gracieusement trollometre.com" /></a>
			<a href="http://github.com/nono/Trollometre"><img src="{{ static_url("forkit.png") }}" alt="Fork it" title="Le code est disponible sur github.com" /></a>
			<a href="http://www.gnu.org/licenses/agpl.html"><img src="{{ static_url("agpl.png") }}" alt="GNU AGPL v3" title="Cette application est distribuée sous licence GNU Affero GPL v3" /></a>
		</div>
	</body>
</html>
